<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Regex App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="container">
      <h2>Regex Checker</h2>
      <form id="regexForm" onsubmit="return handleRegexSubmit(event);">
        <div class="mb-3">
          <label for="regexPattern" class="form-label">Regex Pattern</label>
          <input type="text" class="form-control" id="regexPattern" name="regexPattern" required>
        </div>
        <div class="mb-3">
          <label for="testString" class="form-label">Test String</label>
          <textarea class="form-control custom-textarea" id="testString" name="testString" required rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Check</button>
        <button type="button" class="btn btn-outline-secondary" id="clearButton" onclick="clearRegexInputs()">Clear</button>
      </form>

      <div id="loading" class="d-none">Loading...</div>
      <div id="result" class="mt-3"></div>
    </div>

    <div class="container">
      <h2>Email Validator</h2>
      <form id="emailForm" onsubmit="return handleEmailSubmit(event);">
        <div class="mb-3">
          <label for="emailInput" class="form-label">Enter your Email ID</label>
          <input type="text" class="form-control" id="emailInput" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Validate</button>
        <button type="button" class="btn btn-outline-secondary" id="clearButton" onclick="clearEmailInputs()">Clear</button>
      </form>

      <div id="emailLoading" class="d-none">Loading...</div>
      <div id="emailResult" class="mt-3"></div>
    </div>

    <!--Footer Section-->
    <footer class="text-center py-4 mt-4 border-top">
      <p>&copy; 2024 Regex Web App. All rights reserved.</p>
    </footer>
    <!--End of footer section-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>