<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container-xxl">
    <a href="#intro" class="navbar-brand">
      <span class="fw-bold gradient-text" style="font-family: 'Poppins', sans-serif;">
        Regex101 Web App
      </span>
    </a>
    <!--Toggle button for mobile nav-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end align-items-center" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link text-light" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-light" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            Regex Checker
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-light" style="font-family: 'Poppins', sans-serif; font-weight: 500;">
            Email Checker
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Add this link to the head of your document to import Poppins font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<style>
  .nav-link:hover {
    text-decoration: underline; /* Adds an underline on hover */
    color: blue; /* Change the color to a lighter shade or any preferred color */
}

</style>